# Importing & Managing Financial Data in Python

First step is to import the data of amex listings.

When we are importing data we need to be sure we don't lost data and accuracy in the process. For this we can use EDA, Exploratory Data Analysis is the solution here, where we can do empirical and graphic analysis to the data.

The American Stock Exchange (AMEX) was once the third-largest stock exchange in the United States, as measured by trading volume. The exchange, at its height, handled about 10% of all securities traded in the US.

Today, the AMEX is known as the NYSE American. In 2008, NYSE acquired the AMEX.

In [5]:
# The code was removed by Watson Studio for sharing.

,Stock Symbol,Company Name,Last Sale,Market Capitalization,IPO Year,Sector,Industry,Last Update
0,XXII,"22nd Century Group, Inc",1.3300,1.206285e+08,NaN,Consumer Non-Durables,Farming/Seeds/Milling,4/26/17
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,5.0000,1.266333e+09,1986.0,NaN,NaN,4/25/17
2,IAF,Aberdeen Australia Equity Fund Inc,6.1500,1.398653e+08,NaN,NaN,NaN,4/23/17
3,CH,"Aberdeen Chile Fund, Inc.",7.2201,6.756346e+07,NaN,NaN,NaN,4/26/17
4,ABE,Aberdeen Emerging Markets Smaller Company Oppo...,13.3600,1.288430e+08,NaN,NaN,NaN,4/25/17

## Empirical Exploratory Analysis Data

1. Study the data type of the data in the csv file and the data type of the data frame result from the csv importation

## Data Types

In [17]:
#Get first lines of data: 
print(df_amex.head())
print('\n ########## INFO ############## \n')

#Get the information about the dataframe data types
print(df_amex.info())

     Stock Symbol                                       Company Name  \
0            XXII                            22nd Century Group, Inc
1             FAX              Aberdeen Asia-Pacific Income Fund Inc
2             IAF                 Aberdeen Australia Equity Fund Inc
3              CH                          Aberdeen Chile Fund, Inc.
4  ABE             Aberdeen Emerging Markets Smaller Company Oppo...

   Last Sale  Market Capitalization  IPO Year                 Sector  \
0     1.3300           1.206285e+08       NaN  Consumer Non-Durables
1     5.0000           1.266333e+09    1986.0                    NaN
2     6.1500           1.398653e+08       NaN                    NaN
3     7.2201           6.756346e+07       NaN                    NaN
4    13.3600           1.288430e+08       NaN                    NaN

                Industry Last Update
0  Farming/Seeds/Milling     4/26/17
1                    NaN     4/25/17
2                    NaN     4/23/17
3                    NaN     4/26/17
4                    NaN     4/25/17

 ########## INFO ##############

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
Last Update              360 non-null object
dtypes: float64(3), object(5)
memory usage: 22.6+ KB
None

In [13]:
# df_amex.Sector.isnull().sum()

# df_amex.info()

df_amex['IPO Year'].isnull().sum()

255