# Importing & Managing Financial Data in Python

First step is to import the data of amex listings.

When we are importing data we need to be sure we don't lost data and accuracy in the process. For this we can use EDA, Exploratory Data Analysis is the solution here, where we can do empirical and graphic analysis to the data.

The American Stock Exchange (AMEX) was once the third-largest stock exchange in the United States, as measured by trading volume. The exchange, at its height, handled about 10% of all securities traded in the US.

Today, the AMEX is known as the NYSE American. In 2008, NYSE acquired the AMEX.

In [2]:
# The code was removed by Watson Studio for sharing.

## Importing Data from CSV

## Data Types

In dataframes we have 4 types of data types, called dtypes:
1. Object: Text or a mix of text and numeric data
2. Int64: Numeric: Whole numbers 64 bits
3. Float64: Numeric: Decimal or whole numbers with missing values
4. Datetime64: Data and time information

When we import a csv we need to be careful about the initial data and the dtypes that appears in the dataframe. For that, we can use the method info to analyse the data types, missing values and NaN assigns.

In this case, in the primary import od the csv we notice that the symbol N/A is used to identify the missing values and we have one date tpye column. We can parse the information when we are reading the csv with the atributes:
1.  na_values='n/a'
2.  parse_dates=['Last Update']

In the end we have something like  pd.read_csv(body, na_values='n/a', parse_dates=['Last Update']) to import the dataset to a dataframe.

We can see the result with the method df_amex.info() and df_amex.head() methods:

In [3]:
print('\n ########## INFO AMEX ############## \n')

#Get the information about the dataframe data types
print(df_amex.info())

print('\n ########## HEAD AMEX ############## \n')

#Get the information about the dataframe data types
print(df_amex.head())

 ########## INFO AMEX ##############

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 8 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
Last Update              360 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 22.6+ KB
None

 ########## HEAD AMEX ##############

     Stock Symbol                                       Company Name  \
0            XXII                            22nd Century Group, Inc
1             FAX              Aberdeen Asia-Pacific Income Fund Inc
2             IAF                 Aberdeen Australia Equity Fund Inc
3              CH                          Aberdeen Chile Fund, Inc.
4  ABE             Aberdeen Emerging Markets Smaller Company Oppo...

   Last Sale  Market Capitalization  IPO Year                 Sector  \
0     1.3300           1.206285e+08       NaN  Consumer Non-Durables
1     5.0000           1.266333e+09    1986.0                    NaN
2     6.1500           1.398653e+08       NaN                    NaN
3     7.2201           6.756346e+07       NaN                    NaN
4    13.3600           1.288430e+08       NaN                    NaN

                Industry Last Update
0  Farming/Seeds/Milling  2017-04-26
1                    NaN  2017-04-25
2                    NaN  2017-04-23
3                    NaN  2017-04-26
4                    NaN  2017-04-25

In [4]:
print('\n ########## INFO NASDAQ ############## \n')

#Get the information about the dataframe data types
print(df_nasdaq.info())

print('\n ########## HEAD NASDAQ ############## \n')

#Get the information about the dataframe data types
print(df_nasdaq.head())

 ########## INFO NASDAQ ##############

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 8 columns):
Stock Symbol             1115 non-null object
Company Name             1115 non-null object
Last Sale                1115 non-null float64
Market Capitalization    1115 non-null float64
IPO Year                 593 non-null float64
Sector                   1036 non-null object
Industry                 1036 non-null object
Last Update              1115 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 69.8+ KB
None

 ########## HEAD NASDAQ ##############

  Stock Symbol           Company Name  Last Sale  Market Capitalization  \
0         AAPL             Apple Inc.     141.05           7.400000e+11
1        GOOGL          Alphabet Inc.     840.18           5.810000e+11
2         GOOG          Alphabet Inc.     823.56           5.690000e+11
3         MSFT  Microsoft Corporation      64.95           5.020000e+11
4         AMZN       Amazon.com, Inc.     884.67           4.220000e+11

   IPO Year             Sector  \
0    1980.0         Technology
1       NaN         Technology
2    2004.0         Technology
3    1986.0         Technology
4    1997.0  Consumer Services

                                          Industry Last Update
0                           Computer Manufacturing  2017-04-26
1  Computer Software: Programming, Data Processing  2017-04-24
2  Computer Software: Programming, Data Processing  2017-04-23
3          Computer Software: Prepackaged Software  2017-04-26
4                   Catalog/Specialty Distribution  2017-04-24

## Importing data as Excel

In this case, importing data as Excel has the same flow method as csv but in this case we can identify the sheets with the data.

In this method we can define a dictionary where the keys are the name of the dataframes and the values are the dataframes that represents the dataset in each sheet.

In [29]:

# Your data file was loaded into a botocore.response.StreamingBody object.
# Please read the documentation of ibm_boto3 and pandas to learn more about your possibilities to load the data.
# ibm_boto3 documentation: https://ibm.github.io/ibm-cos-sdk-python/
# pandas documentation: http://pandas.pydata.org/
streaming_body_1 = client_5201de40b6a649099bddf76511dc329f.get_object(Bucket='datacampprojects-donotdelete-pr-gagvrbswecaf5q', Key='listings.xlsx')['Body']
# add missing __iter__ method so pandas accepts body as file-like object
if not hasattr(streaming_body_1, "__iter__"): streaming_body_1.__iter__ = types.MethodType( __iter__, streaming_body_1 ) 
    
dict_df_lists = pd.read_excel(streaming_body_1, sheet_name=['amex','nasdaq','nyse'], na_values='n/a')

for key in dict_df_lists.keys():
    print('\n####### ' + key + ' #######\n')
    print(dict_df_lists[key].info())

<class 'method'>

####### amex #######

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 7 columns):
Stock Symbol             360 non-null object
Company Name             360 non-null object
Last Sale                346 non-null float64
Market Capitalization    360 non-null float64
IPO Year                 105 non-null float64
Sector                   238 non-null object
Industry                 238 non-null object
dtypes: float64(3), object(4)
memory usage: 19.8+ KB
None

####### nasdaq #######

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3167 entries, 0 to 3166
Data columns (total 7 columns):
Stock Symbol             3167 non-null object
Company Name             3167 non-null object
Last Sale                3165 non-null float64
Market Capitalization    3167 non-null float64
IPO Year                 1386 non-null float64
Sector                   2767 non-null object
Industry                 2767 non-null object
dtypes: float64(3), object(4)
memory usage: 173.3+ KB
None

####### nyse #######

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3147 entries, 0 to 3146
Data columns (total 7 columns):
Stock Symbol             3147 non-null object
Company Name             3147 non-null object
Last Sale                3079 non-null float64
Market Capitalization    3147 non-null float64
IPO Year                 1361 non-null float64
Sector                   2177 non-null object
Industry                 2177 non-null object
dtypes: float64(3), object(4)
memory usage: 172.2+ KB
None

## Combine Dataframes

In this case we can use pandas concat method because the dataframes have the same columns

In [34]:
for key in dict_df_lists:
    dict_df_lists[key]['Exchange'] = key

df_main = pd.concat(dict_df_lists)
df_main.head()

          Stock Symbol                                       Company Name  \
amex 0            XXII                            22nd Century Group, Inc
     1             FAX              Aberdeen Asia-Pacific Income Fund Inc
     2             IAF                 Aberdeen Australia Equity Fund Inc
     3              CH                          Aberdeen Chile Fund, Inc.
     4  ABE             Aberdeen Emerging Markets Smaller Company Oppo...

        Last Sale  Market Capitalization  IPO Year                 Sector  \
amex 0     1.3300           1.206285e+08       NaN  Consumer Non-Durables
     1     5.0000           1.266333e+09    1986.0                    NaN
     2     6.1500           1.398653e+08       NaN                    NaN
     3     7.2201           6.756346e+07       NaN                    NaN
     4    13.3600           1.288430e+08       NaN                    NaN

                     Industry Exchange
amex 0  Farming/Seeds/Milling     amex
     1                    NaN     amex
     2                    NaN     amex
     3                    NaN     amex
     4                    NaN     amex